on:
  push:
    branches: [main]
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      # sam build
      - run: sam build --use-container

      # Run Unit tests- Specify unit tests here

      # sam deploy
      - run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset --stack-name sam-my-movies-api --s3-bucket ${{ secrets.AWS_S3_BUCKET_NAME }} --capabilities CAPABILITY_IAM --region eu-central-1 --parameter-overrides API_KEY=${{ secrets.API_KEY }} APP_SECRET=${{ secrets.APP_SECRET }} MONGO_URL=${{ secrets.MONGO_URL }}
